/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@400;500;700&display=swap');

/* Global Styles */
body {
  font-family: 'Manrope', sans-serif;
  margin: 0;
  background: #f5f5f5;
}
* {
  box-sizing: border-box;
}

/* Your custom styles */
.aboutusheading:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 180px;
  background: #49B0DC;
  top: 100px;
  left: 0;
}

.homeswiper .swiper-slide {
  height: auto;
}
.testimonialslider .swiper-slide {
    padding: 35px 5px 5px;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 1280px) {
  .portfolioswiper .swiper-slide {
    padding: 0 20px;
}
}
@media (max-width: 640px) {
.aboutusheading:before {
    display: none;
}
}